# Python compilation files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments
env/
venv/
.env

# IDE and system files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db
.DS_Store

# Script files
generate_commits.py
